@page
@model BugZapper.Pages.Teams.IndexModel

@{
    ViewData["Title"] = "Teams";
}

<h1>All Teams</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

@foreach (var team in Model.Teams)
{
<div class="card bg-secondary mb-3">
    <div class="card-header">
        <a asp-page="./Details" asp-route-id="@team.ID">@team.TeamName</a>
    </div>
    <div class="card-body">
        <p class="card-text">@team.TeamDescription</p>
    </div>
</div>
}
