@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BugZapper</h1>
    <h3>BugZapper is a free-to-use, open-source project where users can report issues they find in programs directly to the developing team.</h3>
</div>
