@page
@model BugZapper.Pages.Projects.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

@foreach (var item in Model.ProjectModel)
{
    <div class="card bg-secondary mb-3">
        <div class="card-header">@item.ProjName</div>
        <div class="card-body">
            <h4 class="card-title">@item.Description</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
}
